			<!-- Start - forms lightbox template -->
			<div class="lightbox">
        		<div class="form-window">
        			<div class="form">
        			<h3 class="title"> شكرا </h3>
        			<fieldset class="form-fields">
        				<p> تم إرسال رسالة تأكيد بالبريد الإلكتروني إلى عنوان البريد الإلكتروني المقدمة </p>
        				<p> للدخول الرجاء <a href="#/login"> الضغط هنا </a></p>
        			</fieldset>
        			<a class="btn-close" href="#"><img src="../img/generic/form-btn-close.png" alt="" /></a>
        			</div>
        		</div>
        	</div>		
			<!-- End - forms lightbox template -->