			<!-- Start - forms lightbox template -->
			<div class="lightbox">
        		<div class="form-window">
        			<div class="form">
        			<h3 class="title"> ملفي  الشخصي </h3>
        			<fieldset class="form-fields">
        				<div class="profile-pic" ng-file-select="onFilesSelect($files)" accept="image/*" onclick="this.value=null">
        					<img src="{{ProfileImage}}" alt="" />
        				</div>
        				<p> تغير صورتي </p>
        				<p><a href="#"> تغير  كلمة السر أو الإيميل </a></p>
        				<p> للدخول الرجاء <a href="#/login"> الضغط هنا </a></p>
        			</fieldset>
        			<a class="btn-close" href="#"><img src="../img/generic/form-btn-close.png" alt="" /></a>
        			</div>
        		</div>
        	</div>		
			<!-- End - forms lightbox template -->