/* homepage specific header styles */

#head-wrapper {
	position:fixed;
	top:0;
	left:0;
	z-index:999;
}



/* Homepage hero parallax */
  
#hero-parallax{
	font-size:1em;
	color:#fff;	
	margin-top:130px;
	position:relative;
}

#hero-parallax h1 {
	font-family:'decotype_naskhregular', Tahoma, Helvetica, sans-serif;
	font-size:16em;
	text-shadow:0 0 7px #555;
	line-height:1.2;
}

#hero-parallax h2 {
	font-size:2.7em;
	text-shadow:0 0 5px #555;
}

#hero-parallax p,
#hero-parallax a {
	color:#fff;
	font-family:'gess', Tahoma, Helvetica, sans-serif;
	font-size:1.8em;
	text-shadow:0 0 5px #555;
}

#hero-parallax .learn-more {
	font-size:2em;
	background:url(../img/sprites/social.png) no-repeat 0 -931px;
	margin-top:15px;
	padding-left:40px;
	display:inline-block;
	line-height:1.8em;
}

#hero-parallax .learn-more:hover {
	text-decoration:underline;
}

#hero-parallax .experience {
	font-size:1em;
	with:100%;
	max-width:1200px;
	height:898px;
	position: relative;
	overflow:hidden;
	/*
	-webkit-box-shadow: 0 -2px 4px 2px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 -2px 4px 2px rgba(0,0,0,.3);
	        box-shadow: 0 -2px 4px 2px rgba(0,0,0,.3);*/	
	
}

#hero-parallax .para-bg {
	max-width:1200px;
	width:100%;
	display:none;
}

#hero-parallax .summary {
	width:100%;
	position:absolute;
	top:150px;
	left:0;
	z-index:99;
}

#hero-parallax .center {
	text-align:center;
}

#hero-parallax .left {
	text-align:left;
}

#hero-parallax .right {
	text-align:right;
}

#hero-parallax .left .pane,
#hero-parallax .right .pane {
	text-align:right;
	width:50%;
	padding:0 5%;
	display:inline-block;
}

#hero-parallax .left h1,
#hero-parallax .right h1 {
	font-size:9em;
	padding-bottom:12px;
}

#hero-parallax .stepper {
	width:100%;
	top:40%;
	right:50%;
	margin-right:560px;
	max-width:1200px;
	position:fixed;
	display:none;
	z-index:99;	
}

#hero-parallax .stepper a {
	background:#fff;
	width:16px;
	height:16px;
	display:block;
	margin-top:10px;
	-moz-border-radius:50%;
	border-radius:50%;
	-moz-box-shadow:0 0 4px 0 #999;
	-webkit-box-shadow:0 0 4px 0 #999;
	box-shadow:0 0 4px 0 #999;
	margin-left:5%;	
}

#hero-parallax .stepper a:first-child {
	margin-top:0;
}

#hero-parallax .stepper a:hover,
#hero-parallax .stepper a.active {
	background:#666;	
}

#hero-parallax .next-experience {
	position:fixed;
	bottom:40px;
	left:50%;
	margin-left:-100px;
	opacity:.8;
}

#hero-parallax .next-experience:hover {
	opacity:1;
}
#hero-parallax .next-experience span {
	display:block;
	text-align:center;
	padding-top:5px;
}

@media all and (min-width:971px) {
	#hero-parallax .stepper	{
		display:block;
	}
}


@media all and (max-width:1200px){
	
	#hero-parallax .stepper {
		margin-right:97%;
		right:0;
	}
	
	#hero-parallax .stepper a {
		margin-left:20px;
	}
	
}

@media all and (max-width:970px) {
	
	#head-wrapper {position:static;}
	#hero-parallax {margin-top:0;}	
	#hero-parallax {margin-top:0;}
	#hero-parallax .summary.left pane,
	#hero-parallax .summary.right pane {
		width:95.918367%;
		margin:0;
		padding-left:2.040816%;
		padding-right:2.040816%;
	}

	#hero-parallax .summary.left h1,
	#hero-parallax .summary.right h1 {
		font-size:6em;
	}

	#hero-parallax .experience {
		background:none !important;
		height:auto !important;
		box-shadow:none;
	}	
	#hero-parallax .stepper {
		display:none;
		visibility:hidden;
	}
	#hero-parallax .next-experience {
		display:none;
		visibility:hidden;
	}
	#hero-parallax .para-bg {
		display:block !important;
	}
	#hero-parallax .summary {
		top:100px;
	}
}

@media all and (max-width:767px) {
	
	#hero-parallax .experience {
		font-size:.8em;
	}
}

@media all and (max-width:480px) {
	
	#hero-parallax .experience {
		font-size:.6em;
	}
	
	#hero-parallax .summary {
		top:100px;
	}
	
	#hero-parallax .details {
		display:none;
	}
	
	#hero-parallax .left .pane,
	#hero-parallax .right .pane {
		width:80% !important;
		text-align:center;
	}
	
}

@media all and (max-width:320px) {

	#hero-parallax .summary {
		top:60px;
	}	
	#hero-parallax .summary.center h1 {
		font-size:10em;
	}
	
}

