/*
======================================================
01 - Common Page Styles
02 - Helpers
03 - Common Button Styles
04 - Common Typography Styles
05 - Common Module Styles
06 - Media Queries for all elements


======================================================
*/


/*------------------------------------------------------
01 - Common Page Styles
------------------------------------------------------*/
html { font-size:10px;}
body { font:100%/1.3 Arial, Helvetica, sans-serif; }
html,body { color:#545c67; width:100%; height:100%; min-height:100%; }


.index {
    margin:20px 0 0 50px;
    li {
        margin-bottom:10px;
    }
}

/*------------------------------------------------------
02 - Helpers
------------------------------------------------------*/

// middle all display:inline-block items of container
.middle-items {
    &:before {
        content: " ";
        display: inline-block;
        height: 100%;
        width: 0px;
        vertical-align: middle;
    }
    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

/*------------------------------------------------------
03 - Common Button Styles
------------------------------------------------------*/

// more button styles
.more {
    color:$brandGold;
    font-family:$blissLight;
    font-size:1.5rem !important;
    line-height:1;
    text-align:center;
    max-width:240px;
    padding-right:26px;
    border:2px solid $brandGold;
    display:inline-block;
    position:relative;

    span:first-child {
        color:$brandGold;
        line-height:1.2;
        text-transform:uppercase;
        padding:15px 25px;
        display:block;
    }

    .icon {
        font-size:1.8em;
        background:$brandGold;
        display:block;
        width:26px;
        height:100%;
        position:absolute;
        top:0;
        right:0;

        &:after {
            color:#fff;
            font-family:$iconFont;
            line-height:1;
            text-transform:lowercase;
            content:'d';
            position:absolute;
            top:50%;
            right:-.15rem;
            margin-top:-.5em;
        }
    }

    &.small {
        max-width:120px;
        padding-right:17px;
        display:block;

        span:first-child {
            padding:6px 15px 4px 15px;
        }

        .icon {
            width:17px;
            font-size:1.4em;

            &:after {
                right:-.2em;
            }
        }
    }


    &.left {
        padding-left:26px;

        .icon {
            right:auto;
            left:0;

            &:after {
                content:'c';
                right:0rem;
            }
        }
    }
}

.hr{
    border-top: 1px solid $borderGray;
}

// hero keystone button styles
.scroll-down {
    margin-top:40px;
    text-align:center;

    a {
        display:inline-block;
        height:100px;
        width:40px;
        border:2px solid $brandGold;
        position:relative;

        &:after {
            color:$brandGold;
            font-family:$iconFont;
            font-size:2.4rem;
            content:'b';
            position:absolute;
            top:50%;
            margin-top:-1.4rem;
            left:50%;
            margin-left:-1.2rem;
        }
    }
}


/*------------------------------------------------------
04 - Common Typography Styles
------------------------------------------------------*/
%heading {
    color:$headingblueGray;
    font-family: $blissLight;
    text-transform: uppercase;
    font-weight: normal;
    line-height:1.1;
}

h2 {
    @extend %heading;
    font-size:4.8rem;
    margin-bottom: 1rem;
    text-align:center;
}

h3 {
    @extend %heading;
    font-size:3.8rem;
    margin-bottom: 3rem;
}

h4 {
    @extend %heading;
    color:$blueGray;
    font-size:2.4rem;
    margin-bottom: 2rem;
    text-transform:none;
}

p {
    font-size:1.4rem;
}

a {
    font-family:$blissLight;
}

h1, h2, h3, h4{
    font-weight: normal;
    color:$headingblueGray;
}
h1, h2, h3{
    text-transform: uppercase;
}
h1, h2, h3,h4,  p, ul li, blockquote{
    font-family: $blissLight;
}
a {
    font-size: inherit;
    color: inherit;
}
p, ul li, ol li{
    font-size: 1.6rem;
    line-height: 1.2;
}
blockquote{
    font-size: 2rem;
}
p{
    margin-top: 20px;
}
p:first-of-type{
    margin-top: 0;
}
ul > li{
    padding: 0.2rem 0;
}

/*------------------------------------------------------
05 - Common Module Styles
------------------------------------------------------*/
.wrapper-mod {
    width:100%;
    padding:50px 0;

    &.gray {
        background: $silverGray;
        &:last-of-type{
            margin-bottom: 1rem;
        }
    }

    .mod-content {
        max-width:$modWidth;
        margin: 0 auto;

        .mod-intro {
            max-width:600px;
            margin:0 auto;
            padding:70px 0 50px 0;
            text-align:center;

            p {
                font-size:1.8rem;
            }
        }

    }

    &.full-width {
        padding:0;

        .mod-content {
            width:100%;
            max-width:none;
            margin:0;
        }

        &:last-of-type{
            margin-bottom: 1rem;
        }
    }
}

// links-list styles
.links-list {

    .link {
        color:$brandGold;
        font-size:1.5rem;
        text-transform:uppercase;
        display:block;
        margin-bottom:10px;
    }

    &.arrow {

        .link {

            &:before {
                content: " ";
                display: inline-block;
                height: 100%;
                width: 0px;
                vertical-align: middle;
            }

            &:after {
                text-transform:lowercase;
                font-family:$iconFont;
                font-size:1.2em;
                content:'d';
                margin-left:6px;
                vertical-align:middle;
            }

            span {
                display:inline-block;
                vertical-align:middle;
            }
        }
    }

}

.header-title{
    font-size: 2.2rem;
    font-family: $blissLight;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/*------------------------------------------------------
06 - Media Queries for all elements
------------------------------------------------------*/

@media screen and (max-width:$max-600) {

    h2 {
        font-size:3rem;
    }

    .wrapper-mod {
        .mod-content {
            .mod-intro {
                padding:30px 20px 20px 20px;
            }
        }
    }

}

