@font-face {
  font-family: 'blisslight';
  src: url('../font/bliss_light.eot');
  src: url('../font/bliss_light.eot?#iefix') format('embedded-opentype'),
  url('../font/bliss_light.woff') format('woff'),
  url('../font/bliss_light.ttf') format('truetype'),
  url('../font/bliss_light.svg#scalasanslfbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blissregular';
  src: url('../font/bliss_regular.eot');
  src: url('../font/bliss_regular.eot?#iefix') format('embedded-opentype'),
  url('../font/bliss_regular.woff') format('woff'),
  url('../font/bliss_regular.ttf') format('truetype'),
  url('../font/bliss_regular.svg#scalasanslfbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@charset "UTF-8";

@font-face {
    font-family: "icon-meeras";
    src:url("../font/icon-meeras.eot");
    src:url("../font/icon-meeras.eot?#iefix") format("embedded-opentype"),
    url("../font/icon-meeras.woff") format("woff"),
    url("../font/icon-meeras.ttf") format("truetype"),
    url("../font/icon-meeras.svg#meeras") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "icon-meeras" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icon-meeras" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-search:before {
    content: "a";
}
.icon-arrow-down:before {
    content: "b";
}
.icon-arrow-left:before {
    content: "c";
}
.icon-arrow-right:before {
    content: "d";
}
.icon-arrow-up:before {
    content: "e";
}
.icon-call-phone:before {
    content: "f";
}
.icon-email:before {
    content: "g";
}
.icon-message:before {
    content: "h";
}
.icon-pin:before {
    content: "i";
}
.icon-x:before {
    content: "j";
}
.icon-facebook:before {
    content: "k";
}
.icon-twitter:before {
    content: "l";
}
.icon-youtube:before {
    content: "m";
}
.icon-instagrem:before {
    content: "n";
}


