.wrapper-footer {
    background:#f6f6f6;
    position: relative;

    .page-footer {
        color:#545c67;
        text-align:center;
        max-width:$maxWidth;
        box-sizing:border-box;
        margin:0 auto;
        padding:70px 0 50px 0;
    }

    .wrapper-sub-footer {
        background:$blueGray;
        height:70px;
        position: relative;
    }

}

.page-footer {

    a {
        color:#545c67;
        font-size:1em;
    }

    .wrapper-links-col {
        font-size:0;
        text-align:center;
        width:100%;
        display:inline-block;
    }

    .links-col {
        font-size:1rem;
        text-align:left;
        display:inline-block;
        vertical-align:top;
        width:20%;
        padding:0 2.5%;

        .title {
            font-family:$blissLight;
            font-size:2em;
            font-weight:normal;
            text-transform:uppercase;
            margin-bottom:15px;
        }

        .list {
            margin-bottom:20px;

            li {
                font-size:1.2em;
                padding-bottom:12px;

                p {
                    margin-bottom:10px;
                }
            }
        }

        .icon-list {

            li {
                padding-bottom:0;
                a {
                    display:block;

                    &:before {
                        font-family:$iconFont;
                        font-size:1.8em;
                        text-transform:lowercase;
                        content:'';
                        vertical-align:middle;
                    }
                    span {
                        font-size:1.1em;
                        vertical-align:middle;
                        margin-left:10px;
                    }
                }

            }
            .call {
                a {
                    &:before {
                        content:'f';
                    }
                }
            }

            .email {
                a {
                    &:before {
                        content:'g';
                    }
                }
            }

            .message {
                a {
                    &:before {
                        content:'h';
                    }
                }
            }

            .pin {
                a {
                    &:before {
                        content:'i';
                    }
                }
            }

        }

        .form {
            .frm-text {
                color:#fff;
                font-size:1.2rem;
                background:$blueGray;
                max-width:220px;
                width:100%;
                box-sizing:border-box;
                padding:8px 10px;
                margin-bottom:20px;

                &:focus {
                    outline:0;
                }
            }
        }

    }

}

.sub-footer {
    max-width:$maxWidth;
    height:100%;
    padding:0 5%;
    margin:0 auto;

    .foot-nav {
        font-size:0;

        %nopad {
            padding-left:0;
            &:before {
                display:none;
            }
        }

        li {
            color:#b2b4b7;
            font-size:1.2rem;
            display:inline-block;
            padding:0 8px;
            position:relative;

            &:before {
                font-size:.8em;
                content:'|';
                position:absolute;
                left:0px;
            }

            a {
                color:#b2b4b7;
            }

            &:first-child {
                @extend %nopad;
            }

            &.copyright {
                @extend %nopad;
                padding-left:50px;

            }
        }

    }
    .social-media-items {
        position: absolute;
        width: 250px;
        height: 100%;
        text-align: right;
        right: 90px;
        top: 0;

        .items-list{
            width: auto;
            vertical-align: middle;

            li{
                margin-left: 10px;
            }
            li,
            a {
                display: inline-block;
            }

            a {
                background: #565c66;
                // padding: 0.65rem 0.85rem;
                min-width: 40px;
                min-height: 40px;
                position: relative
            }
            [class^="icon-"]{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: inline-block;
            }

            [class^="icon-"]:before{
                color: #fff;
                font-size: 2.4rem;

                margin-left: -3.2rem;
                margin-top: 0.7rem;
                position: absolute;

            }
        }
    }

}

@media screen and (max-width:$max-960) {

    .page-footer {
        text-align:center;

        .links-col {
            width:40%;
            padding:0 5%;
        }
    }
    .wrapper-footer {
        .wrapper-sub-footer{
            height: 190px;
        }

    }
    .sub-footer{
        height: 12%;
        vertical-align: top;

        .social-media-items{
            width: 100%;
            position: relative;
            text-align: center;
            right: auto;
            top: 40px;

            .items-list {
                [class^="icon-"]:before{
                    margin-left: -1.2rem;
                }
                li {
                    &:first-child{
                        margin-left: 0;
                    }
                }

            }
        }
        .foot-nav {
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;


            li.copyright {
                width:100%;
                padding:0;
                position: absolute;
                bottom: 20px;
                left:0;
                text-align:center;
            }
        }

    }

}

@media screen and (max-width:$max-600) {

    .page-footer {
        text-align:center;

        .wrapper-links-col {
            width:auto;
            display:block;
            padding:0 20px;
        }

        .links-col {
            width:100%;
            padding:0;
        }
    }


}