
.page-header {
    max-width:$maxWidth;
    margin:0 auto;
    height:90px;
    position:relative;

    .logo {
        height:100%;
        position:absolute;
        top:0;
        left:25px;
        z-index:999;
    }

    .nav-toggle {
        background:$blueGray;
        padding:3rem .5rem 1rem .5rem;
        display:none;
        position:absolute;
        right:15px;
        top:0;

        a {
            line-height:0;
            display:inline-block;
            padding:.7rem 0;
            position:relative;

            %pseudo {
                line-height:.3rem;
                content:'';
                display:inline-block;
                width:100%;
                height:.3rem;
                background:#fff;
                position:absolute;
                left:0;
                @include transition(0.3s);
                @include transform-origin(50% 50%);
            }

            span {
                line-height:.3rem;
                display:inline-block;
                width:2rem;
                height:.3rem;
                background:#fff;
                transition:.3s;

                &:before {
                    @extend %pseudo;
                    top:0;
                }

                &:after {
                    @extend %pseudo;
                    bottom:0;
                }
            }
        }
    }

    .active {

        a {

            span {
                background:transparent;

                &:before {
                    top:.7rem;
                    @include transform(rotate3d(0,0,1,45deg));
                }

                &:after {
                    top:.7rem;
                    @include transform(rotate3d(0,0,1,-45deg));
                    @include transform-origin(50% 50%);
                }
            }
        }

        + .top-nav {
            display:block;
        }
    }

    .top-nav {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        right:25px;
    }

    .drop-tabs {
        background:#f0ede7;
        padding:20px;
    }
}

.top-nav {

    %navPos {
        position:absolute;
        right:0;

        .nav-item {
            padding-top:0;
            padding-bottom:0;

            >a {
                text-transform:uppercase;
            }
        }
    }

    .main-nav {
        @extend %navPos;
        bottom:0;
    }

    .quick-nav {
        @extend %navPos;
        top:0;
    }
}

.main-nav {

    .nav-item {
        display:inline-block;
        padding-left:28px;

        &:first-child {
            padding-left:0;
        }

        >a {
            color:#545c67;
            font-family:$blissLight;
            font-size:1.6rem;
            display:block;
            padding-bottom:8px;
            border-bottom:5px solid transparent;
            @include transition(all .3s ease-out);
        }

        &:hover {
            >a {
                color:$brandGold;
                border-color:$brandGold;
                @include transition(all .3s ease-out);
            }
        }
    }

    .active {
        >a {
            color:$brandGold;
            border-color:$brandGold;
        }
    }
}

.quick-nav {

    .nav-item {
        display:inline-block;
        padding-left:15px;

        > a {
            color:rgba(84,92,103,.5);
            font-family:$webSafe;
            font-size:11px;
            padding-top:14px;
            display:block;
            &:hover {
                color:rgba(84,92,103,1);
            }
        }
    }

    .search {

        position:relative;

        a {
            color:#fff;
            font-size:1.8rem;
            padding-left:5px;
            padding-right:5px;
            padding-bottom:3px;
            line-height:1;
            background:#434a55;
            display:inline-block;

            &:hover {
                color:#ccc;
            }
        }

        .form {
            display:none;
            background:$blueGray;
            height:30px;
            width:200px;
            padding:5px 28px 0 10px;
            position:absolute;
            right:0;
            top:100%;

            input[type="text"] {
                color:#fff;
                font-size:1.1rem;
                background:$blueGray;
                width:100%;
                height:2rem;
                padding:2px 0;
                display:inline-block;
                vertical-align:middle;

                &:focus {
                    outline:0;
                }
            }

            .icon-search {
                height:auto;
                padding-top:5px;
                margin-right:-28px;
                display:inline-block;
                vertical-align:middle;

                &:before { }
            }
        }

        .hot-links {
            display:none;
            padding:20px 0 0 0;

            %vert-middle {
                display:inline-block;
                vertical-align:middle;
            }

            a {
                color:#000;
                font-size:1.4rem;
                background:transparent;
                margin-left:50px;

                span {
                    font-size:1.4rem;
                    text-transform:uppercase;
                    padding-left:5px;
                    @extend %vert-middle;
                }

                &:before {
                    color:$blueGray;
                    font-size:1.4em;
                    @extend %vert-middle;
                }

                &:first-child {
                    margin-left:0;
                }
            }

            .icon-call-phone {
                font-size:1.8em;
            }



        }
    }

    .active {

        > a {
            &:before {
                content:'j';
            }
        }

        .form {
            display:block;
        }
    }
}

.wrapper-drop-tabs {
    background:#f0ede7;

    a {
        font-size:1.5rem;
        text-transform:uppercase;
        display:block;
    }

    .drop-tabs {
        width:100%;
        height:0;
        max-width:$maxWidth;
        margin:0 auto;
        box-sizing:border-box;
        overflow:hidden;
        @include transition(height .5s ease-out);
    }

    .tab {
        font-size:0;
        padding:50px 50px 50px 295px;
        overflow:hidden;
        display:none;
    }

    .active {
        display:block;
    }

    .block {
        font-size:0;
        width:100%;
        display:inline-block;
        vertical-align:top;

        &:first-child {
            margin-left:-245px;
        }

        p {
            font-family:$blissLight;
            font-size:1.6rem;
        }
    }

    .links {
        width:245px;
        min-width:245px;

        .link {
            color:$brandGold;
            font-family:$blissLight;
            border-top:1px solid #dcd4c2;

            &:first-child {
                border-top:none;
            }

            span {
                padding:12px 0 8px 0;
                vertical-align:middle;
                display:inline-block;
            }

            &:after {
                font-family:$iconFont;
                font-size:1.2em;
                text-transform:lowercase;
                line-height:1;
                vertical-align:middle;
                content:'d';
                margin-left:6px;
            }
        }
    }

    .block {

        %display {
            display:inline-block;
            vertical-align:top;
            margin-left:7.3298429%;
        }

        .summary {
            width:41.884816%;
            max-width:400px;
            @extend %display;

            .thumb {
                width:100%;
                margin-bottom:25px;
            }
        }

        .intro {
            width:36%;
            max-width:415px;
            @extend %display;

            p {
                font-size:2.4rem;
            }
            .more {
                margin-top:15%;
            }
        }
    }


}


@media screen and (max-width:$max-1100) {

    .wrapper-drop-tabs {

        .block {

            .intro {

                p {
                    font-size: 2rem;
                }
            }
        }
    }
}


@media screen and (max-width:$max-960) {

    .page-header {
        height:70px;

        .logo img {
            height:50px;
        }

        .nav-toggle {
            display:inline-block;
        }

        .active {
            + .top-nav {
                display:block;
            }
        }

        .top-nav {
            background:#f6f6f6;
            width:100%;
            height:auto;
            padding:120px 0 0 0;
            position:absolute;
            top:100%;
            left:0;
            z-index:999;
            display:none;
        }

    }

    .top-nav {
        position:relative;

        %nav-commons {
            background:#f0ede7;
            position:static;
            padding:0 15px;

            .nav-item {
                padding:0;
                border-top:1px solid #dbd4c2;
                display:block;

                >a {
                    color:$navGold;
                    font-family:$blissLight;
                    font-size:1.5rem;
                    line-height:1;
                    padding:1.3rem 0;
                    border:none;
                    position:relative;
                    @include transition(none);

                    &:after {
                        font-family:$iconFont;
                        font-size:1.6rem;
                        line-height:1;
                        text-transform:lowercase;
                        content:'d';
                        margin-top:-.55em;
                        position:absolute;
                        top:50%;
                        right:0;
                    }
                }
            }
        }

        .main-nav {
            @extend %nav-commons;
            padding-top:15px;
            .nav-item {

                &:first-child {
                    border-top:none;
                }
            }
        }

        .quick-nav {
            @extend %nav-commons;
            padding-bottom:15px;
            .search {
                background:#f6f6f6;
                width:100%;
                padding:20px 15px 30px 15px;
                box-sizing:border-box;
                border-top:0;
                position:absolute;
                top:0;
                left:0;
                .form {
                    width:auto;
                    height:auto;
                    box-sizing:border-box;
                    display:block;
                    position:static;
                }

                > .icon-search {
                    display:none;
                }

                .hot-links {
                    display:block;
                }
            }

        }

    }

}