.mod-featured-projects {
    width:100%;
    position:relative;

    .backdrops {
        width:100%;

        .list {
            font-size:0;
            width:100%;

            .item {
                width: 100%;
                display: inline-block;
                img {
                    width: 100%;
                }
            }
        }
    }

    .summaries {
        background:#fff;
        max-width:320px;
        position:absolute;
        right:20px;
        bottom:0;
        z-index:999;

        .list {

            .item {
                padding:70px 20px;
            }
        }

        h3 {
            margin-bottom:15px;
        }

        h4 {
            margin-bottom:15px;
        }

        .summary {
            margin-bottom:40px;

            p {
                margin-bottom:10px;
            }
        }

        .links-list {
            margin-bottom:40px;
        }

        .more {
            width:100%;
        }

        .owl-nav {
            position:absolute;
            top:0;
            right:0;
        }
    }

    &.middle {

        .summaries {
            font-size:0;
            max-width:460px;
            height:100%;
            right:0;
            top:0;
            bottom:auto;
            background:transparent;

            &:before {
                content:'';
                width:.1%;
                height:100%;
                display:inline-block;
                vertical-align:middle;
            }

            .list {
                width:99.9%;
                background:#fff;
                display:inline-block;
                vertical-align:middle;

                .item {
                    padding:50px 20px 30px 20px;
                }
            }

            .more {
                margin-top:40px;
            }
        }
    }
}



@media screen and (max-width:$max-1200) {

    .mod-featured-projects {

        .summaries {
            max-width:none;
            padding:0 30px;
            position:relative;
            right:auto;

            .list {

                .item {
                    padding:50px 0 20px 0;
                    text-align:center;
                }
            }

            .owl-nav {
                top:-15px;
                right:-30px;
            }
        }

        &.middle {

            .summaries {
                max-width:460px;
                padding:0;
                position:absolute;

                h4 {
                    text-align:left;
                }
                .list {
                    .item {
                        padding-top:35px;
                    }
                }

                .owl-nav {
                    top:0;
                    right:0;
                }
            }
        }
    }
}

@media screen and (max-width:$max-600) {

    .mod-featured-projects {

        &.middle {

            .summaries {
                max-width: none;
                position: relative;
                right: auto;

                .owl-nav {
                    top:-15px;
                }
            }
        }
    }
}