.keystone-pod-list {
	font-size: 0;
    margin: 0 auto;
    text-align: left;

	.pod-item{
		width: 31.63265%;
		max-width: 310px;
		display: inline-block;
		margin-left: 2.5510%;
        margin-top: 5rem;
        vertical-align: top;

        &:nth-child(3n+1){
            margin-left: 0;
        }

		.thumb{
	    	margin-bottom: 25px;
	    	width: 100%;
	    }
	    p{
	        font-family: $blissLight;
	        line-height: 1.2;
	    }
	    .title{
	    	font-size: 2.2rem;
	    	text-transform: uppercase;
	    	margin-bottom: 10px;
	    }
	    .title + img,
	    .title + a img{
	    	margin-top: 2.2rem;
	    }
	    .summary{
	    	font-size: 1.6rem;
	    	margin-bottom: 20px;
	    }
	}

}
.mod-keystone-carousel{
	position: relative;

	.keystone-pod-list{
        padding:0;

		.pod-item{
			width: 100%;
			max-width: 100%;
            margin-top:3rem;
		}
	}
	.owl-controls{
		position: absolute;
		top: -24px;
		right: 0;
	}
}

@media screen and (max-width:$max-980) {

    .keystone-pod-list {
        padding:0 2rem;
    }

}

@media screen and (max-width:$max-960) {

	.mod-keystone-carousel{
		.owl-controls{
			right: 0;
		}
	}
}

@media screen and (max-width:$max-600) {
	.keystone-pod-list {
		text-align: center;
		.pod-item{
			width:45%;
			margin-left:5%;

            .more {
                display:inline-block;
            }

            &:nth-child(2n+1){
                margin-left: 0;
            }
		}
	}
}

@media screen and (max-width:$max-480) {

    .mod-keystone-carousel {

        .keystone-pod-list {

            .pod-item{
                width:100%;
                max-width:240px;
                margin-left:0;
            }
        }
    }

}