.mod-brands-carousel {
    font-size:0;
    padding-left:170px;

    %inline {
        display:inline-block !important;
        vertical-align:middle;
        height:340px;
    }

    h2 {
        font-size:3.8rem;
        width:170px;
        margin-left:-170px;
        @extend %inline;
    }

    .brands-list {
        font-size:0;
        background:#ebebeb;
        width:100%;
        position:relative;
        @extend %inline;

        .item {
            text-align:center;
        }

        .owl-stage-outer {
            margin-top:110px;
        }

        .owl-item img {
            width:auto;
            display:inline-block;
        }

        .owl-nav {
            position:absolute;
            top:0;
            right:0;
        }
    }
}


@media screen and (max-width:$max-1100) {

    .mod-brands-carousel {

        padding-left:0;

        %block {
            display:block !important;
            height:auto;
        }

        h2 {
            @extend %block;
            text-align:center;
            margin-left:0;
            margin-bottom:20px;
            width:auto;
        }

        .brands-list {
            @extend %block;

            .owl-stage-outer {
                margin-top:0;
            }

            .item {
                padding:70px 0;
            }
        }
    }
}
