//font stack
$blissLight:blisslight,helvetica,sans-serif;
$blissRegular:blissRegular,helvetica,sans-serif;
$webSafe:arial,helvetica,sans-serif;
$iconFont:icon-meeras;


//nav link colors
$brandGold:#a39160;
$navGold:#a19260;
$blueGray:#444a55;
$darkBlue: #2d323a;

//size constraints
$maxWidth:1300px;
$modWidth: 980px;

//font colors
$headingblueGray:#313740;
$textColor: #545c67;
//background colors
$silverGray:#f6f6f6;
$borderGray: #cecfd0;
$dullGray: #f0ede7;

//breakpoints
$max-1200:1200px;
$max-1100:1100px;
$max-980:980px;
$max-960:960px;
$max-600:600px;
$max-480:480px;

