extends ../layout/home
append config
    - var Page = {title:"About Us",section:"home",theme:""}
    - var Meta = {description:"Welcome",keywords:""}
block content
    .wrapper-content
        .content
            // Start .wrapper-hero
            .wrapper-hero
                .page-hero
                    img.backdrop(src="../img/content/hero-about-01.jpg", alt="")
                    .intro
                        h1 About Meraas
                        p Meraas was established to make a positive contribution to the National economy. By creating a portfolio of investments in various industry sectors, we seek to generate long term wealth enhancement to the economic and social development of Dubai.
            // End .wrapper-hero

            // Start .wrapper-section-nav
            .wrapper-section-nav
                nav.section-nav
                    ul.nav
                        li.nav-item.active: a.middle-items(href="#"): span our brand
                        li.nav-item: a.middle-items(href="#"): span our leadership
                        li.nav-item: a.middle-items(href="#"): span  our divisions
            // End .wrapper-section-nav

            // Start .wrapper-mod for our brand module
            .wrapper-mod
                .mod-content
                    h2 our brand
                    .keystone-pod-list
                        .pod-item
                            img.thumb(src="../img/content/brand-01.jpg",alt="brand")
                            p.title Brand Positioning
                            p.summary Lorem ipsum dolor sit amet, consectetur erte adipiscing elit. Aenean euismod bibendum ete laoreet. Proin gravida dolor sit amet lacus imtu accumsan et viverr. Lorem ipsum dolor samet, bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverr
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/brand-02.jpg",alt="brand")
                            p.title Values
                            p.summary Lorem ipsum dolor sit amet, consectetur erte adipiscing elit. Aenean euismod bibendum ete laoreet. Proin gravida dolor sit amet lacus imtu  bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/brand-03.jpg",alt="brand")
                            p.title Brand Essence
                            p.summary Lorem ipsum dolor sit amet, consectetur erte adipiscing elit. Aenean euismod bibendum ete laoreet. Proin gravida dolor sit amet lacus imtu accumsan et viverr. Lorem ipsum dolor samet, lacus accumsan et viverra
                            a.more.small(href="#")
                                span learn more
                                span.icon
            //End .wrapper-mod for our brand module

            // Start .wrapper-mod for our leadership module
            .wrapper-mod.gray
                .mod-content
                    h2 Our Leadership
                    ul.square-pod-list
                        li.pod-item
                            img.thumb(src="../img/content/leader-01.jpg", alt="leader")
                            p.name Abdulla Al Habba
                            p.title Meraas Holding Group Chairman
                        li.pod-item
                            img.thumb(src="../img/content/leader-01.jpg", alt="leader")
                            p.name Abdul Wahab Al-Halabi
                            p.title Group Chief Investment Officer
                        li.pod-item
                            img.thumb(src="../img/content/leader-02.jpg", alt="leader")
                            p.name Cherif Hosny
                            p.title Chief Hospitality Officer
                        li.pod-item
                            img.thumb(src="../img/content/leader-01.jpg", alt="leader")
                            p.name Edward Sunna
                            p.title Chief Legal Officer
                        li.pod-item
                            img.thumb(src="../img/content/leader-01.jpg", alt="leader")
                            p.name Fahad Kazim
                            p.title Chief Commercial Officer
                        li.pod-item
                            img.thumb(src="../img/content/leader-01.jpg", alt="leader")
                            p.name Omar Delawar
                            p.title Chief Projects Officer
                        li.pod-item
                            img.thumb(src="../img/content/leader-02.jpg", alt="leader")
                            p.name Rajesh Ramachanran
                            p.title Chief Financial Officer
                        li.pod-item
                            img.thumb(src="../img/content/leader-01.jpg", alt="leader")
                            p.name Rashid Al Sharif
                            p.title Chief Sales Officer
            // End .wrapper-mod for leadership module

            // Start .wrapper-mod for our brand module
            .wrapper-mod
                .mod-content
                    h2 our divisions
                    .keystone-pod-list
                        .pod-item
                            img.thumb(src="../img/content/division-01.jpg",alt="enterprise")
                            p.title Enterprise
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-02.jpg",alt="properties")
                            p.title Properties
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-03.jpg",alt="leisure and entertainment")
                            p.title Leisure &amp; entertainment
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-04.jpg",alt="parks and resorts")
                            p.title Parks &amp; resorts
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-05.jpg",alt="retail and FandB")
                            p.title Retail and F&amp;B
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-06.jpg",alt="Hospitality")
                            p.title Hospitality
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-07.jpg",alt="Healthcare and Education")
                            p.title Healthcare &amp; education
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-08.jpg",alt="Capital")
                            p.title Capital
                            a.more.small(href="#")
                                span learn more
                                span.icon
            //End .wrapper-mod for our brand module
