extends ../layout/home
append config
    - var Page = {title:"Our Brand Positioning",section:"home",theme:""}
    - var Meta = {description:"Welcome",keywords:""}
block content
    .wrapper-content
        .content
            // Start .wrapper-hero
            .wrapper-hero
                .page-hero
                    img.backdrop(src="../img/content/hero-about-01.jpg", alt="")
                    .intro
                        h1 Our Brand Positioning
                        p Meraas was established to make a positive contribution to the National economy. By creating a portfolio of investments in various industry sectors, we seek to generate long term wealth enhancement to the economic and social development of Dubai.
            // End .wrapper-hero

            // Start .wrapper-mod for section intro module
            .wrapper-mod.full-width
                .mod-content
                    .col-details

                        section.text-block
                            h3 Lorem ipsum dolor sit amet
                            .thumb.pull-right
                                img.clearfix(src="../img/content/featured-section-intro.jpg", alt="featured section image")
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing.
                            ul.bullet-list
                                li Lorem ipsum dolor sit amet, consectetur adipiscinconsectetur adipiscing elit.
                                li Consectetur adipiscing.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                li Dolor sit amet, consectetur adipiscing.Lorem ipsum dolotetur adipiscing elit.
                                li Sit amet, consectetur adipiscing.Lorem ipsum dolor sit amtur adipiscing elit.
                                li Dolor sit amet, consectetur adipiscing.Lorem ipsum dolor sit actetur adipiscing elit.

                    .col-sidebar
                        section.aside-pod-item
                            h3 Media info
                            p
                                | Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor  sit amet, consectetur adipiscing elit. Aene an euismod bibendum laoreet. Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor it amet, consectetur adipiscing elit. Aenea n euismod bibendum laoreet.
                            .info-item-block
                                p.title Media Enquiries
                                ul
                                    li
                                        span.icon-call-phone
                                        span Within UAE 800 Meraas (<a href="tel:637227">637227</a>)
                                    li
                                        span.icon-email
                                        a(href="mailto:media@meraa.ae") media@meraas.ae
                                a.more.small(href="#")
                                    span Download media kit
                                    span.icon
            // End .wrapper-mod for section intro module



            // Start .wrapper-mod for our brand module
            .wrapper-mod
                .mod-content
                    h2 view more from our brand
                    ul.keystone-pod-list
                        li.pod-item
                            img.thumb(src="../img/content/brand-01.jpg",alt="brand")
                            p.title Brand Positioning
                            p.summary Lorem ipsum dolor sit amet, consectetur erte adipiscing elit. Aenean euismod bibendum ete laoreet. Proin gravida dolor sit amet lacus imtu accumsan et viverr. Lorem ipsum dolor samet, bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverr
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        li.pod-item
                            img.thumb(src="../img/content/brand-02.jpg",alt="brand")
                            p.title Values
                            p.summary Lorem ipsum dolor sit amet, consectetur erte adipiscing elit. Aenean euismod bibendum ete laoreet. Proin gravida dolor sit amet lacus imtu  bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        li.pod-item
                            img.thumb(src="../img/content/brand-03.jpg",alt="brand")
                            p.title Brand Essence
                            p.summary Lorem ipsum dolor sit amet, consectetur erte adipiscing elit. Aenean euismod bibendum ete laoreet. Proin gravida dolor sit amet lacus imtu accumsan et viverr. Lorem ipsum dolor samet, lacus accumsan et viverra
                            a.more.small(href="#")
                                span learn more
                                span.icon
            //End .wrapper-mod for our brand module

