extends ../layout/home
append config
    - var Page = {title:"Our Brands",section:"home",theme:""}
    - var Meta = {description:"Welcome",keywords:""}
block content
    .wrapper-content
        .content
            // Start .wrapper-hero
            .wrapper-hero
                .page-hero
                    img.backdrop(src="../img/content/hero-about-01.jpg", alt="")
                    .intro
                        h1 Our Brands
                        p Meraas was established to make a positive contribution to the National economy. By creating a portfolio of investments in various industry sectors, we seek to generate long term wealth enhancement to the economic and social development of Dubai.
            // End .wrapper-hero

            // Start .wrapper-mod for our leadership module
            .wrapper-mod.gray
                .mod-content
                    ul.square-pod-list
                        li.pod-item
                            img.thumb(src="../img/content/dubai-i-logo.jpg", alt="Dubai-i")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/box-park-logo.jpg", alt="Boxpark")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/living-planet-logo.jpg", alt="living planet")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/box-park-logo.jpg", alt="Boxpark")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/living-planet-logo.jpg", alt="living planet")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/dubai-i-logo.jpg", alt="Dubai-i")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/box-park-logo.jpg", alt="Boxpark")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/dubai-i-logo.jpg", alt="Dubai-i")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/dubai-i-logo.jpg", alt="Dubai-i")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/box-park-logo.jpg", alt="Boxpark")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/living-planet-logo.jpg", alt="living planet")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/box-park-logo.jpg", alt="Boxpark")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/living-planet-logo.jpg", alt="living planet")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/dubai-i-logo.jpg", alt="Dubai-i")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/box-park-logo.jpg", alt="Boxpark")
                            p.name Brand name
                        li.pod-item
                            img.thumb(src="../img/content/dubai-i-logo.jpg", alt="Dubai-i")
                            p.name Brand name