extends ../layout/home
append config
    - var Page = {title:"Media gallery",section:"home",theme:""}
    - var Meta = {description:"Media centre",keywords:""}
block content
    .wrapper-content
        .content
            // Start .wrapper-hero
            .wrapper-hero
                .page-hero
                    img.backdrop(src="../img/content/hero-media-news-landing-01.jpg", alt="")
                    .intro
                        h1 Media centre
                        p Meraas was established to make a positive contribution to the National economy. By creating a portfolio of investments in various industry sectors, we seek to generate long term wealth enhancement to the economic and social development of Dubai.
            // End .wrapper-hero

            // Start .wrapper-section-nav
            .wrapper-section-nav
                nav.section-nav
                    ul.nav
                        li.nav-item: a.middle-items(href="#"): span news
                        li.nav-item: a.middle-items(href="#"): span calendar
                        li.nav-item.active: a.middle-items(href="#"): span  gallery
            // End .wrapper-section-nav

            // Start .wrapper-mod for Media gallery module
            .wrapper-mod
                .mod-content
                    h2 Media gallery
                    .keystone-pod-list
                        .pod-item
                            img.thumb(src="../img/content/brand-01.jpg",alt="leisure and entertainment")
                            p.title Leisure &amp; entertainment
                            a.more.small(href="#")
                                span view album
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-02.jpg",alt="health and education")
                            p.title Health &amp; education
                            a.more.small(href="#")
                                span view album
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-03.jpg",alt="retail and residential")
                            p.title Retail &amp; residential
                            a.more.small(href="#")
                                span view album
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-01.jpg",alt="Events")
                            p.title Events
                            a.more.small(href="#")
                                span view album
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-06.jpg",alt="Corporate images")
                            p.title Corporate images
                            a.more.small(href="#")
                                span view album
                                span.icon
                        .pod-item
                            img.thumb(src="../img/content/division-05.jpg",alt="our brands")
                            p.title Our brands
                            a.more.small(href="#")
                                span view album
                                span.icon
            //End .wrapper-mod for Media gallery module