extends ../layout/home
append config
    - var Page = {title:"Media centre",section:"home",theme:""}
    - var Meta = {description:"Media centre",keywords:""}
block content
    .wrapper-content
        .content
            // Start .wrapper-hero
            .wrapper-hero
                .page-hero
                    img.backdrop(src="../img/content/hero-home-01.jpg", alt="")
                    .intro
                        h1 Media centre
                        p Meraas was established to make a positive contribution to the National economy. By creating a portfolio of investments in various industry sectors, we seek to generate long term wealth enhancement to the economic and social development of Dubai.
            // End .wrapper-hero

            // Start .wrapper-section-nav
            .wrapper-section-nav
                nav.section-nav
                    ul.nav
                        li.nav-item: a.middle-items(href="#"): span news
                        li.nav-item: a.middle-items(href="#"): span calendar
                        li.nav-item: a.middle-items(href="#"): span  gallery
            // End .wrapper-section-nav

            // Start .wrapper-mod for section intro module
            .wrapper-mod.full-width
                .mod-content
                    .col-details
                        h3 News &amp; media from Meraas
                        section.text-block
                            .thumb.pull-left
                                img.clearfix(src="../img/content/featured-section-intro.jpg", alt="featured section image")
                            span.published-date 24 Jan2014
                            p.title News Title on Pearl Jumeira lorem ipsum color dolor emit
                            span.category From Leisure &amp; Entertainment
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                            p Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis.Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            p Magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra  vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio...<a href="#" class="more-link">Read more</a>
                        section.text-block
                            span.published-date 24 Jan2014
                            p.title Upcoming event lorem ipsum color dolor emit
                            span.category From Leisure &amp; Entertainment
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus erte accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis.
                            p Magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra  vulputate, felis tellus mollis orci, sedMagnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra  vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio...<a href="#" class="more-link">Read more</a>
                        section.text-block
                            .thumb.pull-left
                                img.clearfix(src="../img/content/featured-section-intro-01.jpg", alt="featured section image")
                            span.published-date 24 Jan2014
                            p.title News Title on Pearl Jumeira lorem ipsum color dolor emit
                            span.category From Leisure &amp; Entertainment
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                            p Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis.Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            p Magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra  vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio...<a href="#" class="more-link">Read more</a>

                        section.pagination
                            a.more.small(href="#")
                                span view more
                                span.icon
                            p 3/50
                    .col-sidebar
                        section.aside-pod-item
                            h3 Media info
                            p
                                | Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor  sit amet, consectetur adipiscing elit. Aene an euismod bibendum laoreet. Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor it amet, consectetur adipiscing elit. Aenea n euismod bibendum laoreet.
                            .info-item-block
                                p.title Media Enquiries
                                ul
                                    li
                                        span.icon-call-phone
                                        span Within UAE 800 Meraas (<a href="tel:637227">637227</a>)
                                    li
                                        span.icon-email
                                        a(href="mailto:media@meraa.ae") media@meraas.ae
                                a.more.small(href="#")
                                    span Download media kit
                                    span.icon
                        section.aside-pod-item
                            h3 Quick Links
                            p
                                | Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor  sit amet lacus accumsan et viverra justo commodo.
                            .info-item-block
                                ul.link-list
                                    li
                                        a(href="#") About Meraas
                                            span.icon-arrow-right
                                    li
                                        a(href="#") Contact us
                                            span.icon-arrow-right
                                    li
                                        a(href="#") Meraas News
                                            span.icon-arrow-right
                                    li
                                        a(href="#") Case study
                                            span.icon-arrow-right
                        section.aside-pod-item
                            h3 Media Gallery
                            p
                                | Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor  sit amet erte lacusadipiscing elit. Aenean euismod biben dum accumsan etcommodo.
                            .info-item-block.gallery
                                img(src="../img/content/featured-section-intro-02.jpg", alt="media gallery image")