extends ../layout/home
append config
    - var Page = {title:"community details page",section:"home",theme:""}
    - var Meta = {description:"Welcome",keywords:""}
block content
    .wrapper-content
        .content
            // Start .wrapper-hero
            .wrapper-hero
                .page-hero
                    img.backdrop(src="../img/content/hero-community-details.jpg", alt="")
                    .intro
                        h1 Pearl Jumeira
                        p Adjacent to the Jumeira shoreline, with spectacular sea views over the Arabian Gulf and the awe-inspiring Dubai skyline, lays the exclusive residential development of Pearl Jumeira.
            // End .wrapper-hero

            // Start .wrapper-section-nav
            .wrapper-section-nav
                nav.section-nav
                    ul.nav
                        li.nav-item: a.middle-items(href="#"): span about
                        li.nav-item: a.middle-items(href="#"): span latest news
                        li.nav-item: a.middle-items(href="#"): span  community news
                        li.nav-item: a.middle-items(href="#"): span  media library
                        li.nav-item: a.middle-items(href="#"): span  brands
                        li.nav-item: a.middle-items(href="#"): span  contacts &amp; location
            // End .wrapper-section-nav

            // Start .wrapper-mod for latest news module
            .wrapper-mod.gray
                .mod-content
                    h2 Latest News from the community
                    .mod-latest-news-carousel
                        .news-list
                            .pod-item
                                .col-image
                                    img.thumb(src="../img/content/news-01.jpg",alt="latest news")
                                .col-details
                                    span.date 24 Sep 2014
                                    p.title News Article on Pearl Jumeira lorem ipsum color dolor
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.....
                            .pod-item
                                .col-image
                                    img.thumb(src="../img/content/news-02.jpg",alt="latest news 02")
                                .col-details
                                    span.date 05 Mar 2014
                                    p.title News Article on Pearl Jumeira lorem ipsum color dolor
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.....
                            .pod-item
                                .col-image
                                    img.thumb(src="../img/content/news-01.jpg",alt="latest news")
                                .col-details
                                    span.date 24 Sep 2014
                                    p.title News Article on Pearl Jumeira lorem ipsum color dolor
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.....
                            .pod-item
                                .col-image
                                    img.thumb(src="../img/content/news-02.jpg",alt="latest news 02")
                                .col-details
                                    span.date 05 Mar 2014
                                    p.title News Article on Pearl Jumeira lorem ipsum color dolor
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.....

                    section.pagination
                            a.more.small(href="#")
                                span view more
                                span.icon
            // End .wrapper-mod for latest news module

            // Start .wrapper-mod for gallery module
            .wrapper-mod
                .mod-content
                    h2 media gallery
                    .mod-keystone-carousel
                        .keystone-pod-list
                            .pod-item
                                a(href="#"): img.thumb(src="../img/content/brand-07.jpg",alt="brand")
                                p.title: a(href="#") image title loren ipsum

                            .pod-item
                                p.title: a(href="#") video title loren ipsum
                                a(href="#"): img.thumb(src="../img/content/brand-08.jpg",alt="brand")

                            .pod-item
                                a(href="#"): img.thumb(src="../img/content/brand-09.jpg",alt="brand")
                                p.title: a(href="#") download brochure pdf

                            .pod-item
                                p.title: a(href="#") image title loren ipsum
                                a(href="#"): img.thumb(src="../img/content/brand-07.jpg",alt="brand")

                            .pod-item
                                a(href="#"): img.thumb(src="../img/content/brand-08.jpg",alt="brand")
                                p.title: a(href="#") video title loren ipsum

                            .pod-item
                                p.title: a(href="#") download brochure pdf
                                a(href="#"): img.thumb(src="../img/content/brand-09.jpg",alt="brand")

            //End .wrapper-mod for gallery module

            // Start .wrapper-mod for our brands carousel
            .wrapper-mod.full-width
                .mod-content
                    .mod-brands-carousel
                        h2.middle-items: span our brands

                        .brands-list
                            .item
                                img(src="../img/content/brand-carousel-01.jpg",alt="")
                            .item
                                img(src="../img/content/brand-carousel-02.jpg",alt="")
                            .item
                                img(src="../img/content/brand-carousel-03.jpg",alt="")
                            .item
                                img(src="../img/content/brand-carousel-01.jpg",alt="")
                            .item
                                img(src="../img/content/brand-carousel-02.jpg",alt="")
                            .item
                                img(src="../img/content/brand-carousel-03.jpg",alt="")
            // End .wrapper-mod for our brands carousel