extends ../layout/home
append config
    - var Page = {title:"What we do",section:"home",theme:""}
    - var Meta = {description:"Welcome",keywords:""}
block content
    .wrapper-content
        .content
            // Start .wrapper-hero
            .wrapper-hero
                .page-hero
                    img.backdrop(src="../img/content/hero-our-communities-01.jpg", alt="")
                    .intro
                        h1 Our communities & Destinations
                        p Meraas Development is a Dubai based real estate development company with a refreshingly innovative approach to sustainable urban planning by utilising innovative architecture and design.
            // End .wrapper-hero

            // Start .wrapper-mod for feature projects
            .wrapper-mod.full-width
                .mod-content
                    .mod-featured-projects
                        .backdrops
                            .list
                                .item: img(src="../img/content/our-communities-beach.jpg",alt="")
                        .summaries
                            .list
                                .item
                                    h3.title the beach
                                    .summary
                                        p With a prime location directly on the beachfront adjacent to Jumeira Beach Residence, and creating more than 70 brand new Retail, Food & Beverage, and Entertainment outlets, The Beach is about to become the most exciting new destination in Dubai.
                                    a.more
                                        span learn more about
                                        span.icon
            // End .wrapper-mod for featured projects

            // Start .wrapper-mod for feature projects
            .wrapper-mod.full-width
                .mod-content
                    .mod-featured-projects
                        .backdrops
                            .list
                                .item: img(src="../img/content/our-communities-pearl.jpg",alt="")
                        .summaries
                            .list
                                .item
                                    h3.title pearl jumeirah
                                    .summary
                                        p The size, location and exclusivity of Pearl Jumeira make it a unique jewel that lies at the heart of Dubai’s finest residential district. Direct access from Jumeira Beach Road provides easy transportation links with key Dubai arterials such as Dhiyafa Road, Sheikh Zayed Road and Sheikh Rashid Road, which in turn makes landmarks such as Dubai Airport.
                                    a.more
                                        span learn more about
                                        span.icon
            // End .wrapper-mod for featured projects
