extends ../layout/home
append config
    - var Page = {title:"Doing business with us",section:"home",theme:""}
    - var Meta = {description:"Welcome",keywords:""}
block content
    .wrapper-content
        .content
            // Start .wrapper-hero
            .wrapper-hero
                .page-hero
                    img.backdrop(src="../img/content/hero-about-01.jpg", alt="")
                    .intro
                        h1 Doing business with us
                        p Meraas was established to make a positive contribution to the National economy. By creating a portfolio of investments in various industry sectors, we seek to generate long term wealth enhancement to the economic and social development of Dubai.
            // End .wrapper-hero

            // Start .wrapper-section-nav
            .wrapper-section-nav
                nav.section-nav
                    ul.nav
                        li.nav-item: a.middle-items(href="#"): span investors
                        li.nav-item: a.middle-items(href="#"): span partners
                        li.nav-item: a.middle-items(href="#"): span  joint ventures
                        li.nav-item: a.middle-items(href="#"): span  other opportunities
            // End .wrapper-section-nav

            // Start .wrapper-mod for section intro module
            .wrapper-mod.full-width
                .mod-content
                    .col-details
                        h3 Current opportunities
                        section.text-promo-content
                                h4 Sustainability opportunities
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                                a.more.small(href="#")
                                    span contact form
                                    span.icon
                        section.text-promo-content
                                h4 Retail concept opportunities
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                                a.more.small(href="#")
                                    span contact form
                                    span.icon
                    .col-sidebar
                        section.aside-pod-item
                            h3 Quick Links
                            p
                                | Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor  sit amet lacus accumsan et viverra justo commodo.
                            .info-item-block
                                ul.link-list
                                    li
                                        a(href="#") About Meraas
                                            span.icon-arrow-right
                                    li
                                        a(href="#") Contact us
                                            span.icon-arrow-right
                                    li
                                        a(href="#") Meraas News
                                            span.icon-arrow-right
                                    li
                                        a(href="#") Case study
                                            span.icon-arrow-right

            // Start .wrapper-mod for our brand module
            .wrapper-mod
                .mod-content
                    h2 opportunities
                    ul.keystone-pod-list
                        li.pod-item
                            img.thumb(src="../img/content/brand-01.jpg",alt="brand")
                            p.title investors
                            p.summary Lorem ipsum dolor sit amet, consectetur erte adipiscing elit. Aenean euismod bibendum ete laoreet. Proin gravida dolor sit amet lacus imtu accumsan et viverr. Lorem ipsum dolor samet, bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverr
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        li.pod-item
                            img.thumb(src="../img/content/brand-02.jpg",alt="brand")
                            p.title partners
                            p.summary Lorem ipsum dolor sit amet, consectetur erte adipiscing elit. Aenean euismod bibendum ete laoreet. Proin gravida dolor sit amet lacus imtu  bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                            a.more.small(href="#")
                                span learn more
                                span.icon
                        li.pod-item
                            img.thumb(src="../img/content/brand-06.jpg",alt="brand")
                            p.title joint ventures
                            p.summary Lorem ipsum dolor sit amet, consectetur erte adipiscing elit. Aenean euismod bibendum ete laoreet. Proin gravida dolor sit amet lacus imtu accumsan et viverr. Lorem ipsum dolor samet, lacus accumsan et viverra
                            a.more.small(href="#")
                                span learn more
                                span.icon
            //End .wrapper-mod for our brand module

            // Start .wrapper-mod for latest news module
            .wrapper-mod.gray
                .mod-content
                    h2 Latest News from the community
                    .mod-latest-news-carousel
                        .news-list
                            .pod-item
                                .col-image
                                    img.thumb(src="../img/content/news-01.jpg",alt="latest news")
                                .col-details
                                    span.date 24 Sep 2014
                                    p.title News Article on Pearl Jumeira lorem ipsum color dolor
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.....
                            .pod-item
                                .col-image
                                    img.thumb(src="../img/content/news-02.jpg",alt="latest news 02")
                                .col-details
                                    span.date 05 Mar 2014
                                    p.title News Article on Pearl Jumeira lorem ipsum color dolor
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.....
                            .pod-item
                                .col-image
                                    img.thumb(src="../img/content/news-01.jpg",alt="latest news")
                                .col-details
                                    span.date 24 Sep 2014
                                    p.title News Article on Pearl Jumeira lorem ipsum color dolor
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.....
                            .pod-item
                                .col-image
                                    img.thumb(src="../img/content/news-02.jpg",alt="latest news 02")
                                .col-details
                                    span.date 05 Mar 2014
                                    p.title News Article on Pearl Jumeira lorem ipsum color dolor
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.....

                    section.pagination
                            a.more.small(href="#")
                                span view more
                                span.icon
            // End .wrapper-mod for latest news module