block config
    include ../include/config
doctype
html.no-js(lang="en")
    include ../include/head
    body
        .master
            header.page-header
                .logo.middle-items
                    a(href="#")
                        img(src="../img/generic/logo-meeras.svg",height="100%")

            .content
                ol.index
                    li: a(href="01-homepage.html") Homepage
                    li: a(href="02-about-us.html") About Us
                    li: a(href="02a-brand-positioning.html") Brand Positioning
                    li: a(href="03-our-brands.html") Our Brands
                    li: a(href="04-media-center-landing.html") Media Center Landing
                    li: a(href="04-media-center-details.html") Media Center Details
                    li: a(href="04-media-gallery.html") Media gallery
                    li: a(href="04-media-events.html") Media events
                    li: a(href="04-media-center-calendar-landing.html") Media Center Calendar landing
                    li: a(href="05-search-results.html") Search results
                    li: a(href="06-what-we-do.html") What we do
                    li: a(href="07-our-communities-landing.html") Our Communities
                    li: a(href="07-communities-detail.html") Community details
                    li: a(href="08-business-with-us.html") Doing business with us
                    li: a(href="09-contact-us.html") Contact us

    // Start footer
    include ../include/footer-scripts
    // End footer
