<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Welcome to Danyah Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=1400">

        <!-- HandheldFriendly, MobileOptimized, viewport meta is required for responsive & mobile templates -->
        <!--
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
        -->
        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

		<!-- build:js css/all.css -->
        <link rel="stylesheet" href="../css/normalize_custom.css">
        <link rel="stylesheet" href="../css/owl.carousel.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/profile.css">
        <link rel="stylesheet" href="../css/media.css">
		<!-- endbuild -->
		<!-- build:js js/modernizr-2.6.2.min.js -->
        <script src="../js/vendor/modernizr-2.6.2.min.js"></script>
		<!-- endbuild -->
    </head>
    <body class="danyah-page user-profile">

        <div class="master" ng-app="DanyahApp">
        	<!-- Start - .parallax-bg -->
			<div class="parallax-bg">
				<div class="layer purple-ellipse" data-depth="0.6"><img src="../img/bg/purple-ellipse-layer.png" alt="" /></div>
				<div class="layer home-hearts" data-depth="0.8"><img src="../img/bg/rainbow-layer.png" alt="" /></div>
				<div class="layer home-hearts" data-depth="0.4"><img src="../img/bg/danyah-media-hearts-layer.png" alt="" /></div>
				<div class="layer hills" data-depth="0.6"><img src="../img/bg/hills-layer.png" alt="" /></div>
				<div class="layer hills-leaves" data-depth="0.4"><img src="../img/bg/hills-leaves-layer.png" alt="" /></div>
				<div class="layer " data-depth="0.2"><img src="../img/bg/home-ground.png" alt="" /></div>
			</div>
			<!-- End - parallax-bg -->

			<!-- Start - .inner -->
        	<div class="inner" ng-controller="ProfileCtrl">

				<!-- Start - .stage -->
				<div class="stage">

					<div class="layer user-profile-wrapper" data-depth="0">
                    	<div class="user-profile-score-wrapper">
                        	<div class="score-wrapper">
                            	<div class="score">
                                	<h3 class="user-score">Games Scores</h3>
                                    <ol class="scores">
                                    	<li><span>200</span></li>
                                        <li><span>300</span></li>
                                        <li><span>400</span></li>
                                    </ol>
                                </div>
                            </div>
                            <div class="pbox">
       							<div class="thumb"><img src="{{ProfileImage}}" alt="" /></div>
       							<div class="frame">
                                	<img src="../img/bg/profile-pic-frame-front.png" />
                                </div>
                                <h3 class="user-name">{{ProfileName}}</h3>
     						</div>
                            <ul class="user-profile-settings">
                            	<li><a href="#/settings">Settings</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="layer photos-drawing-dashboard-wrapper" data-depth="0">
                    	<div class="photos-drawing-container">
                        	<div class="friends-wrapper" ng-controller="FriendsListCtrl">
                            	<h4 class="friends-meta">Friends</h4>
                                <ul class="friends-list">

                                    <li ng-repeat="friend in friends" ng-cloak>
                                        <figure class="friends-meta"><img src="{{baseImageURL}}{{friend.FriendImage}}" width="87" height="92" alt="User Picture" /></figure>
                                        <span class="friends-meta">{{friend.FriendName}}</span>
                                    </li>



                                    <li ng-repeat="dummy in dummies" ng-cloak><span class="friends-meta"><a href="#/invitefriend">Invite</a></span></li>


                                	<!--<li><a href="#/invitefriend">Invite</a></li>

                                    <li>
                                    	<figure class="friends-meta"><img src="../img/content/flag.png" width="87" height="92" alt="User Picture" /></figure>
                                        <span class="friends-meta">Dany</span>
                                    </li>
                                    <li>
                                    	<figure class="friends-meta"><img src="../img/content/flag.png" width="87" height="92" alt="User Picture" /></figure>
                                        <span class="friends-meta">Paddy</span>
                                    </li>
                                    <li>
                                    	<figure class="friends-meta"><img src="../img/content/flag.png" width="87" height="92" alt="User Picture" /></figure>
                                        <span class="friends-meta">Gullu</span>
                                    </li>-->
                                </ul>
                            </div>
                            <div class="profile-slider-wrapper">
                            	<div class="slider photos">
                                	<h4 class="photos meta">Photos</h4>
                                    <div class="slider-wrapper">
                                    	<div class="slider-content">
                                        	<div class="content">
                                                <div class="photo">
                                                    <img src="../img/content/1.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>12.04.2014</span>
                                                </div>
                                                <div class="photo">
                                                    <img src="../img/content/2.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>09.04.2014</span>
                                                </div>
                                                <div class="photo">
                                                    <img src="../img/content/3.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>21.05.2014</span>
                                                </div>
                                                <div class="photo">
                                                    <img src="../img/content/4.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>01.12.2015</span>
                                                </div>
                                                <div class="photo">
                                                    <img src="../img/content/5.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>12.04.2014</span>
                                                </div>
                                                <div class="photo">
                                                    <img src="../img/content/5.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>12.04.2014</span>
                                                </div>
                                            </div><!-- conetnt ends --->
                                        </div><!-- slider-content ends -->
                                    </div><!-- slider wrapper ends -->
                                </div><!-- slider ends -->
                                <!--<div class="slider drawing">
                                	<h4 class="drawing meta">Drawing</h4>
                                </div>  -->

                                <div class="slider drawings">
                                	<h4 class="drawing meta">Drawing</h4>
                                    <div class="slider-wrapper">
                                    	<div class="slider-content">
                                        	<div class="content">
                                                <div class="photo">
                                                    <img src="../img/content/1.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>12.04.2014</span>
                                                </div>
                                                <div class="photo">
                                                    <img src="../img/content/2.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>09.04.2014</span>
                                                </div>
                                                <div class="photo">
                                                    <img src="../img/content/3.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>21.05.2014</span>
                                                </div>
                                                <div class="photo">
                                                    <img src="../img/content/4.jpg" width="104" height="90" alt="Picture 1" />
                                                    <span>01.12.2015</span>
                                                </div>

                                            </div><!-- conetnt ends --->
                                        </div><!-- slider-content ends -->
                                    </div><!-- slider wrapper ends -->

                                </div>






                            </div>
                        </div>
                    </div>


				</div>
				<!-- End - .stage -->

				<!-- Start - .main-nav -->
        		<nav class="main-nav">
        			<div class="layer" data-depth="0">
	        			<a class="video" ng-href="#" ng-click="changeMediaType('video')"><img src="../img/content/danyah-media-video.png" alt="" /></a>
	        			<a class="audio" ng-href="#" ng-click="changeMediaType('audio')"><img src="../img/content/danyah-media-audio.png" alt="" /></a>
        			</div>
        		</nav>
        		<!-- End - .main-nav -->

        	</div>
        	<!-- End - .inner -->

        	<!-- Start - .footer-wrapper -->
        	<div class="footer-wrapper">
	        	<footer class="footer">
	        		<div class="ad-box">
	        			<a class="advert" href="#"><img src="../img/content/footer-ad-box.jpg" alt="" /></a>
	        		</div>
	        		<nav class="footer-nav">
	        			<a class="powered"><img src="../img/content/al-logo.gif" alt="" /></a>
	        			<ul>
		        			<li><a href="#"> عن الموقع </a></li>
		        			<li><a href="#">  إعلن معنا </a></li>
		        			<li><a href="#">   إتصل بنا </a></li>
	        			</ul>
	        			<p class="copyrights"> جميع الحقوق محفوظة <span>2014 &copy; </span></p>
	        		</nav>
	        		<p class="terms"><sup>TM</sup> and &copy; 2014 danyah productions. All rights reserved. Property of danyah.  Use of this website (including any and all parts and components) constitutes your acceptance of these NEW Terms and Conditions and Privacy Policy. The materials on this website are not to be sold, traded or given away. Any copying, manipulation, publishing, or other transfer of these materials, except as specifically provided in the terms and conditions of use, is strictly prohibited.</p>
	        	</footer>
        	</div>
        	<!-- End - .footer-wrapper -->

        	<div ng-view></div>
        </div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="../js/vendor/angular-file-upload-shim.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
		<script src="../js/vendor/angular-file-upload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-cookies.min.js"></script>
		<script src="../js/vendor/TweenMax.min.js"></script>
		<script src="../js/vendor/parallax.js"></script>
		<script src="../js/vendor/owl.carousel.js"></script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
		-->
    </body>
</html>
