// build:js ../js/vendor.js
script(src="../js/vendor/jquery-1.10.2.min.js")
script(src="../js/vendor/jquery-magnific-popup.js")
script(src="../js/vendor/owl.carousel.js")

// endbuild
// build:js ../js/custom.js
script(src="../js/plugins.js")
script(src="../js/main.js")
// endbuild
