.wrapper-footer
    //Start .page-footer
    .page-footer
        //Start .wrapper-links-col
        .wrapper-links-col
            //Start .links-col
            .links-col
                h1.title doing business with us
                ul.list
                    li
                        a(href="#") Investor Opportunities
                    li
                        a(href="#") Partners Opportunities
                    li
                        a(href="#") Joint Ventures Opportunities
                    li
                        a(href="#") Other Opportunities
                h1.title careers
                ul.list
                    li
                        a(href="#") Working With Us
                    li
                        a(href="#") Submit your Application
            //End .links-col

            //Start .links-col
            .links-col
                h1.title media centre
                ul.list
                    li
                        a(href="#") News
                    li
                        a(href="#") Events Calendar
                    li
                        a(href="#") Media Kit
                    li
                        a(href="#") Media Gallery
                    li
                        a(href="#") Newsletter Archive
            //End .links-col

            //Start .links-col
            .links-col
                h1.title contact us
                ul.list.icon-list
                    li
                        p For general enquires, please contact us using the below.

                    li.call
                        a(href="tel:800637227")
                            span 800 MERAAS (637227)
                    li.email
                        a(href="mailto:customerservice@meraas.com")
                            span customerservice@meraas.com
                    li.message
                        a(href="#")
                            span send us a message
                    li.pin
                        a(href="#")
                            span office locations
            //End .links-col

            //Start .links-col
            .links-col
                h1.title email alerts
                ul.list
                    li
                        p Sign up to receive the latest Meraas Updates by Email.
                    li.form
                        input.frm-text(type="text",placeholder="Enter your email address")
                        a.more.small(href="#")
                            span sign up
                            span.icon

            //End .links-col

        //Start .wrapper-links-col

    //End .page-footer

    //Start .wrapper-sub-footer
    .wrapper-sub-footer
        .sub-footer.middle-items
            ul.foot-nav
                li
                    a(href="#") Private Policy
                li
                    a(href="#") Terms & Conditions
                li
                    a(href="#") Feedback
                li
                    a(href="#") FAQs
                li.copyright @ 2015 Meraas. All rights reserved

            .social-media-items.middle-items
                ul.items-list
                    li
                        a(href="#")
                            span.icon-facebook
                    li
                        a(href="#")
                            span.icon-twitter
                    li
                        a(href="#")
                            span.icon-youtube
                    li
                        a(href="#")
                            span.icon-instagrem
    //End .wrapper-sub-footer