head
    title
        | #{Page.title}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{Page.title}
    meta(name="description", content=Meta.description)
    meta(name="keywords", content=Meta.keywords)
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
    // build:css ../css/all.css
    link(rel="stylesheet", href="../css/main.css")
    // endbuild
    // build:js ../js/modernizr-2.6.2.min.js
    script(src="../js/vendor/modernizr-2.6.2.min.js")
    // endbuild