.wrapper-header
    // Start .header
    header.page-header
        .logo.middle-items
            a(href="#")
                img(src="../img/generic/logo-meeras.svg",height="100%")

        .nav-toggle
            a(href="#")
                span

        nav.top-nav

            ul.main-nav
                li.nav-item.has-sub
                    a(href="#") about us
                li.nav-item.has-sub
                    a(href="#") what we do
                li.nav-item
                    a(href="#") our brands
                li.nav-item.has-sub
                    a(href="#") communities & destinations

            ul.quick-nav
                li.nav-item
                    a(href="#") doing business with us
                li.nav-item
                    a(href="#") media centre
                li.nav-item
                    a(href="#") careers
                li.nav-item
                    a(href="#") contact us
                li.nav-item.search
                    .form
                        input(type="text",placeholder="Site Search...")
                        a.icon-search(href="#")

                    .hot-links
                        a.icon-call-phone(href="#")
                            span 800 637227
                        a.icon-pin(href="#")
                            span our offices


                    a.icon-search(href="#")


    // End .header

    // Start .wrapper-drop-tabs
    .wrapper-drop-tabs
        .drop-tabs
            .tab
                .block.links
                    a.link(href="#")
                        span our brands
                    a.link(href="#")
                        span our leadership
                    a.link(href="#")
                        span our divisions
                .block
                    .summary
                        img.thumb(src="../img/content/drop-nav-about.jpg")
                        p Meraas was established to make a positive contribution to the National economy. By creating a portfolio of investments in various industry sectors, we seek to generate long term wealth enhancement to the economic and social development of Dubai.
                    .intro
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consequently do ertpert eiusmod tempory.
                        a.more(href="#")
                            span find out more
                            span.icon
            .tab
                .block.links
                    a.link(href="#")
                        span residentail
                    a.link(href="#")
                        span F&B
                    a.link(href="#")
                        span Leisure & entertainment
                    a.link(href="#")
                        span healthcare & education
                    a.link(href="#")
                        span hospitality
                    a.link(href="#")
                        span retail
                    a.link(href="#")
                        span dubai parks & resorts
                .block
                    .summary
                        img.thumb(src="../img/content/drop-nav-about.jpg")
                        p Meraas was established to make a positive contribution to the National economy.
                    .intro
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consequently do ertpert eiusmod tempory.
                        a.more(href="#")
                            span find out more
                            span.icon
            .tab
                .block.links
                    a.link(href="#")
                        span the beach
                    a.link(href="#")
                        span pearl jumeirah
                    a.link(href="#")
                        span box park
                .block
                    .summary
                        img.thumb(src="../img/content/drop-nav-about.jpg")
                        p Meraas was established to make a positive contribution to the National economy. By creating a portfolio of investments in various industry sectors, we seek to generate long term wealth enhancement to the economic and social development of Dubai.
                    .intro
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consequently do ertpert eiusmod tempory.
                        a.more(href="#")
                            span find out more
                            span.icon
    // End .wrapper-drop-tabs